body {}

p {
  text-align: justify;
}

.navigasi {
  background-color: #008884;
  height: auto;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.navigasiright {
  background-color: #008884 !important;
  border: none !important;
  border-radius: none !important;
  box-shadow: none !important;
  border-left: none !important;
}

.container {
  margin-bottom: 38px;
}

.container-logo {
  margin-top: 140px !important;
}

.footer-menu a {
  padding-right: 10px !important;
  color: white !important;
}

.footer {
  margin-top: 15px;
  background-color: #008884;
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
}

.aligned {
  padding-top: 25px;
}

.box-user {
  width: 210px !important;
  height: auto;
  border: none !important;
  box-shadow: none !important;
}

.App-logo {
  height: 40px;
  display: flex;
  margin: 10px 10px;
}

.footer-logo {
  height: 60px;
  display: flex;
  margin: 20px 20px;
  margin-top: 15px;
}

.App-header {
  background-color: #008884;
  height: 120px;
  padding: 20px;
  color: white;
}

.circle {
  -moz-border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  border-radius: 100px !important;
  width: 210px !important;
  height: 160px !important;
}

.dropmenu {
  color: #fff !important;
  height: 36px;
  margin-top: 7px !important;
  border-radius: 4px;
}

.accordion, .accordion-title {
  margin-left: 157px;
  margin-bottom: 25px;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
}

.logo {
  width: 95px;
  height: 65px;
}

.contact-header {
  margin-left: 483px;
}

.box-list {
  height: auto !important;
  width: 92% !important;
  padding: 40px !important;
  border: 1px solid grey !important;
  border-radius: 5px !important;
  margin-top: 20px !important;
}

.no-border-radius {
  border-radius: 0 !important
}

.Featured {
  margin-left: 120px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-list-tulisan {
  padding: 30px !important;
}

.box-list img {
  width: 280px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-user-page {
  margin-left: 50px !important;
  margin-right: 30px !important;
  border: none !important;
}

.box-noborder {
  border: none !important;
}

.amount, .amount-now, .amount-target {
  justify-content: left !important;
  align-items: left !important;
  align-content: left !important;
  text-align: left !important;
  margin-top: 0px;
  margin-bottom: 5px;
}

.class-name, .class-category, .name {
  justify-content: left !important;
  align-items: left !important;
  align-content: left !important;
  text-align: left !important;
  margin-top: 0px !important;
  margin-bottom: 0px;
  margin-left: 15px;
}

.name {
  justify-content: left !important;
  align-items: left !important;
  align-content: left !important;
  text-align: left !important;
  margin-top: 8px !important;
  margin-bottom: 0px;
  margin-left: 15px;
}

.class-teacher {
  justify-content: left !important;
  align-items: left !important;
  align-content: left !important;
  text-align: left !important;
  margin-top: 20px;
  margin-bottom: 0px;
}

.teacher-name {
  justify-content: left !important;
  align-items: left !important;
  align-content: left !important;
  text-align: left !important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.indicator {
  margin-top: 10px !important;
  margin-left: 15px;
  margin-right: 15px;
}

.collected, .collect-amount {
  justify-content: left !important;
  align-items: left !important;
  align-content: left !important;
  text-align: left !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 15px;
}

.day, .day-left {
  justify-content: right !important;
  align-items: right !important;
  align-content: right !important;
  text-align: right !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 15px;
}

.donation-button {
  padding-top: 0px;
  padding-bottom: 10px;
}

.donation-header {
  padding-left: 150px !important;
  padding-top: 30px;
}

.donation-form {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-left: 150px !important;
  padding-top: 30px;
}

.donation-modal {
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
}

.donation-content {
  text-align: justify;
  padding-left: 150px !important;
  padding-top: 25px;
  padding-bottom: 45px;
}

.table-box {
  width: 92% !important;
  font-size: 12px !important;
}

.borderless {
  border-style: none !important;
  color: #fff !important;
}

.donation-content {
  text-align: justify;
  padding-left: 150px !important;
  padding-top: 25px;
  padding-bottom: 45px;
}

.segment-about {
  margin: 50px 100px;
}

.how-to-donate {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.about-logo {
  margin-right: 10px;
}